@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 26, 32, 44;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: no-preference) {
  .will-change-transform {
    will-change: transform;
  }
  
  [style*="will-change"] {
    backface-visibility: hidden;
    perspective: 1000px;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a202c;
}

::-webkit-scrollbar-thumb {
  background: #4a5568;
  border-radius: 5px;
  will-change: background;
}

::-webkit-scrollbar-thumb:hover {
  background: #718096;
}

.section {
  content-visibility: auto;
  contain-intrinsic-size: auto 1020px;
}

img, video, canvas {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
